.list-rm button {
    transform: translateY(5px);
    margin-left: 5px;
    /* box-shadow: none; */
}

.list-rm svg {
    fill: brown !important;
}

.list-rm {
    margin-bottom: 5px;
}

.display-none {
    display: none;
}

.measurement-table table,
.measurement-table th,
.measurement-table td {
    border: 1px solid black;
    border-collapse: collapse;
}