.list-rm button {
    transform: translateY(5px);
    margin-left: 5px;
    /* box-shadow: none; */
}

.list-rm svg {
    fill: brown !important;
}

.list-rm {
    margin-bottom: 5px;
}

.display-none {
    display: none;
}

.measurement-table table,
.measurement-table th,
.measurement-table td {
    border: 1px solid black;
    border-collapse: collapse;
}

.measurement-table input {
  border: none;
  outline: none;
  background: transparent;
  border-bottom: 1px solid transparent;
  transition: border 0.2s ease;
  text-align: center;
}
.measurement-table div{
    border: none;
}

.measurement-table div:focus-within {
  border: none;
}

.measurement-table div:focus {
  border: none;
}
.measurement-table input:focus {
  outline: none !important;
  box-shadow: none !important;
  border-color: transparent !important;
}
.mid-el{
  margin: 2px;
  text-align: center;
}