.list-rm button {
    transform: translateY(5px);
    margin-left: 5px;
    /* box-shadow: none; */
}

.list-rm svg {
    fill: brown !important;
}

.list-rm {
    margin-bottom: 5px;
}

.display-none {
    display: none;
}

.measurement-table table,
.measurement-table th,
.measurement-table td {
    border: 1px solid black;
    border-collapse: collapse;
}

.measurement-table input {
  border: none;
  outline: none;
  background: transparent;
  border-bottom: 1px solid transparent;
  transition: border 0.2s ease;
}

.measurement-table input:focus  {
  border-bottom: 1px solid #007ace; /* Shopify blue or your preferred color */
  outline: none;
  background: transparent;
}